* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at top, #10363a, #021214);
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.card {
    width: 420px;
    height: 600px;
    perspective: 2000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: 1.5s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    inset: 0;
    overflow: hidden;
    border-radius: 30px;
    backface-visibility: hidden;
}

.card-face img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 4s;
}

.card:hover img {
    transform: scale(1.15);
}

.back {
    transform: rotateY(180deg);
}

.overlay {
    position: absolute;
    inset: 0;

    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.15));
}

.content {
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;

    padding: 24px;

    backdrop-filter: blur(15px);

    background: rgba(255, 255, 255, 0.08);

    border: 1px solid rgba(255, 255, 255, 0.15);

    border-radius: 20px;

    color: white;
}

.content span {
    display: inline-block;

    color: #ffd978;

    font-size: 12px;
    letter-spacing: 4px;

    margin-bottom: 10px;
}

.content h2 {
    font-size: 42px;
    margin-bottom: 10px;
}

.content p {
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.6;
}

.card::before {
    content: "";

    position: absolute;
    inset: -3px;

    border-radius: 35px;

    background: linear-gradient(45deg, #ffd978, #fff, #ffd978);

    background-size: 400% 400%;

    animation: borderGlow 6s linear infinite;

    z-index: -1;
}

.card::after {
    content: "";

    position: absolute;
    width: 250px;
    height: 250px;

    background: rgba(255, 217, 120, 0.25);

    filter: blur(80px);

    top: -50px;
    right: -50px;

    animation: float 6s ease-in-out infinite;

    z-index: -2;
}

@keyframes borderGlow {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}

@keyframes float {
    50% {
        transform: translateY(30px);
    }
}
